@import "../../theme";

:local(.toolbar) {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: $toolbar;
  list-style-type: none;
  margin: 0;
  padding: 0;

  :local(.toolbtns) {
    width: auto;
    height: inherit;
    display: flex;
    flex-direction: row;
  }

  :local(.tooltoggles) {
    width: auto;
    height: inherit;
    display: flex;
    flex-direction: row;
    background-color: $toolbar2;
    align-items: center;
  }
}
